@import './base.css';

:root {
  --font-source-sans: 'Source Sans 3 Variable', sans-serif;
}

#app {
  font-weight: normal;

  font-family: var(--font-source-sans);
  font-size: 1.2rem;
}

a {
  transition: 0.3s;
}

a:hover {
  color: var(--ynh-blue) !important;
}
